.headerImg .bigImg{
	position:relative;
}

.headerImg .smallImg1{
	position:absolute;
	width:10%;
	left:20%;
	top:54%;
}

.headerImg .smallImg2{
	position:absolute;
	width:15%;
	left:27%;
	top:54%;
}

.headerImg .smallImg3{
	position:absolute;
	width:22%;
	left:34%;
	top:44%;
}

.headerImg .smallImg4{
	position:absolute;
	width:16%;
	left:47%;
	top:32%;
}

.headerImg .smallImg5{
	position:absolute;
	width:16%;
	left:57%;
	top:8%;
}

.headerImg .smallImg6{
	position:absolute;
	width:14%;
	left:66%;
	top:29%;
}

.headerImg .smallImg7{
	position:absolute;
	width:12%;
	left:70%;
	top:12%;
	z-index: 2;
}

.headerImg .smallImg8{
	position:absolute;
	width:16%;
	left:77%;
	top:5%;
	z-index: 1;
}


.headerImg .smallImg1:hover,.headerImg .smallImg2:hover,.headerImg .smallImg3:hover,.headerImg .smallImg4:hover,.headerImg .smallImg5:hover,.headerImg .smallImg6:hover,.headerImg .smallImg7:hover,.headerImg .smallImg8:hover{
	position: absolute;
	-webkit-transition: all .3s;
	-webkit-animation: breathing 3s;
	animation: breathing 3s;
}

@-webkit-keyframes breathing {
    0% {

      transform: translate3d(0, 0px, 0);
    }


    65% {

      transform: translate3d(0, 30px, 0);
    }

    100% {

      transform: translate3d(0, 0px, 0);
    }
  }

  @keyframes breathing {
    0% {


      transform: translate3d(0, 0px, 0);
    }


    65% {

      transform: translate3d(0, -30px, 0);
    }

    100% {

      transform: translate3d(0, 0px, 0);
    }
  }

